@using Microsoft.AspNetCore.Identity

@model IEnumerable<LexiconGym.Core.Models.GymClass>
@inject  UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    var userId = UserManager.GetUserId(User);
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <P>
                        @Html.DisplayFor(modelItem => item.Name)
                        <a data-toggle="collapse" href="#memberlist-@item.Id" role="button"
                           aria-expanded="false"><i class="fa fa-plus"></i></a>
                        </P>

                    <div class="collapse" id="memberlist-@item.Id">
                    @if (User.IsInRole("Member"))
                    {
                        @foreach (var member in item.AttendingMembers.Select(relation => relation.ApplicationUser))
                        {
                            <div class="card">
                                <div class="card-body text-center">
                                  <h4 class="card-title">@member.Email</h4>
                                    <p class="card-text">Lorem Ipsum.......................</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-info"></i></a>
                                 </div>
                            </div>
                        }
                    }
                    </div>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>

                    @if (User.IsInRole("Member")) //visa länken eller inte!
                    {
                        @if (item.AttendingMembers.Any(m => m.ApplicationUserId == userId)){
                            <a asp-action="BookingToggle" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Skip</a>
                        }
                        else
                        {
                            <a asp-action="BookingToggle" asp-route-id="@item.Id" class="btn btn-success bt-sm">Book</a>
                        }
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>